<%- include('../partials/header.ejs') %>

<h1>Shows all Schedules</h1>

<div class="schedules">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">User Name</th>
          <th scope="col">Day</th>
          <th scope="col">Start at</th>
          <th scope="col">End at</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i =0; i < employeeSchedule.length; i++) { %>
        <tr>
          <th scope="row"><a href="/employee_info/<%=employeeSchedule[i].id_user%>"><%=employeeSchedule[i].firstname%>&nbsp;<%=employeeSchedule[i].surname%></th></a>
          <th scope="row">
          <% switch (employeeSchedule[i].day) {
          case 1: %>Monday<% break;
          case 2: %>Tuesday<% break;
          case 3: %>Wednesday<% break;
          case 4: %>Thursday<% break;
          case 5: %>Friday<% break; 
          case 6: %>Saturday<% break;
          case 7: %>Sunday<% break;
          default: %><%=employeeSchedule[i].day %>
          <% } %> 
        <th scope="row"><%=employeeSchedule[i].start_time%></th>
        <th scope="row"><%=employeeSchedule[i].end_time%></th>
          </tr>
          <% } %>
      </tbody>
    </table>
  </table>
  
<div>
