<%- include('../partials/header.ejs') %>

<h1>Shows all Schedules</h1>

<div class="schedules">
  <% for (let i =0; i < employeeSchedule.length; i++) { %>
    <p><a href="/employee_info/<%=employeeSchedule[i].id_user%>">User id</a> <%=employeeSchedule[i].id_user%></p>
    <p><strong>Day:</strong> 
      <% switch (employeeSchedule[i].day) 
      {case 1: %>Monday<% break;
      case 2: %>Tuesday<% break;
      case 3: %>Wednesday<% break;
      case 4: %>Thursday<% break;
      case 5: %>Friday<% break;
      case 6: %>Saturday<% break;
      case 7: %>Sunday<% break;
      default: %><%=employeeSchedule[i].day %>
      <% } %></p> 
    <p><strong>Start at</strong> <%=employeeSchedule[i].start_time%></p>
    <p><strong>End at</strong> <%=employeeSchedule[i].end_time%></p>
  <% } %>
<div>