<%- include('../partials/header.ejs') %>

<% if(typeof message != 'undefined') { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= message %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<% } %>

<h1>Make a new schedule</h1>
<p>Please fill in this form to add a new schedule.</p>

<div class="newschedule">
    <div class="day-select" style="width:200px;">
        <label for="day">Select a day</label>
        <select name="day" id="day" form="newschedule" required>
        <option value=""></option>
        <option value="1">Sunday</option>
        <option value="2">Monday</option>
        <option value="3">Tuesday</option>
        <option value="4">Wednesday</option>
        <option value="5">Thursday</option>
        <option value="6">Friday</option>
        <option value="7">Saturday</option>
        </select>
    </div>
    <form id="newschedule" action="/new_schedule" method="POST">
        <label for="startTime">Choose an Start time</label>
        <input id="startTime" type="time" name="startTime"
        min="7:00" max="9:00" required>

        <label for="endTime">Choose an end time</label>
        <input id="endTime" type="time" name="endTime"
        min="17:00" max="18:00" required>
            <button type="submit" class="submit-schedule">Submit schedule</button>
    </form>
</div>

<div class="schedules">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Day:</th>
          <th scope="col">Start time:</th>
          <th scope="col">End time:</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i =0; i < employeeSchedule.length; i++) { %>
        <tr>
          <th scope="row">
          <% switch (employeeSchedule[i].day) {
          case 1: %>Monday<% break;
          case 2: %>Tuesday<% break;
          case 3: %>Wednesday<% break;
          case 4: %>Thursday<% break;
          case 5: %>Friday<% break; 
          case 6: %>Saturday<% break;
          case 7: %>Sunday<% break;
          default: %><%=employeeSchedule[i].day %>
          <% } %> 
        <th scope="row"><%=employeeSchedule[i].start_time%></th>
        <th scope="row"><%=employeeSchedule[i].end_time%></th>
          </tr>
          <% } %>
      </tbody>
    </table>
  
<div>